@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;
    
    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro, &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: relative;
        background: var(--auth-intro-bg);

        &-img {
            width: var(--width);
            max-width: 100%;
        }

        &-logo, &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-text {
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.444444; /* 144.444% */
            text-align: center;
            color: var(--auth-intro-text);

            @include abstracts.screen(md) {
                font-size: 1.5rem;
            }
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {

            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.5s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;

            @include abstracts.screen(md) {
                padding: 32px 0;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        color: var(--auth-heading-color);

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.5rem;
        color: #9E9DA8;
        padding: 0 20px;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            padding: 0 32px;
        }
    }

    &__heading, &__desc {
        font-weight: 500;
        line-height: 1.46666; /* 146.667% */
    }

    &__massage {
        margin-top: 30px;
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        &-forgot {
            margin-top: 10px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__link {
        color: var(--Blue-Blue, #0071DC);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.466666; /* 146.667% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__btn-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include abstracts.screen(md) {
            margin-top: 40px;
            gap: 20px;
        }
    }

    &__btn {
        width: 100%;
    }

    &__text {
        color: #9E9DA8;
        margin-top: 108px;
        font-size: 1.8rem;
        line-height: 1.44444; /* 144.444% */

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 1.6rem;
        }

        &-link {
            font-size: inherit;
        }
    }
}