@use "../abstracts";

.checkout-page {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg);
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 2rem;
    background: var(--checkout-cart-info-bg);
    box-shadow: 0 20px 60px 10px var(--checkout-cart-info-shadow);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41667; /* 141.667% */

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.4545; /* 145.455% */
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
        }
    }

    &__sub-heading {
        margin: 30px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */

        @include abstracts.screen(md) {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 1.46666; /* 146.667% */
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }

    &__bottom {
        margin-top: 30px;
    }

    &__row, &__continue {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }

        &-md--block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
        }

        @include abstracts.screen(md) {
            font-size: 16px;
        }
    }

    &__separate {
        margin: 30px 0;

        height: 1px;
        background: var(--checkout-border-color);

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }

    &__continue {
        display: flex;
        align-items: flex-end;
        height: 100%;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon {
            rotate: 90deg;
            transition: translate 0.3s;
        }

        &-link:hover &-icon {
            translate: -5px;
        }
    }

    &__sub-label {
        font-weight: 400;
    }

    &__next-btn {
        margin-top: 30px;
        border-radius: 10px;
    }

    &__next {
        width: min(184px, 100%);

        &-wrap-btn {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 1.44444; /* 144.444% */
    }

    &__form {
        margin-bottom: 30px;
    }

    &__form-row {
        flex-direction: row;
        gap: 20px;
    }

    &__checkbox {
        &-input {
            appearance: none;

            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }

    &__check-all {
        margin: 30px 0;
    }

    &__checkout-all {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    // gap: 30px;
    padding: 30px 0;

    border-bottom: 1px solid var(--checkout-border-color);

    @include abstracts.screen(md) {
        &:last-child {
            border: none;
        }

        padding: 16px 0;
        // gap: 16px;
    }

    &__thumb {
        width: 175px;
        height: 172px;
        object-fit: contain;
        margin: 0 30px 0 20px;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 152px;
        }

        @include abstracts.screen(lg) {
            width: 100px;
            height: 100px;
        }

        @include abstracts.screen(md) {
            height: 60px;
            width: 60px;
            margin: 0 14px;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        align-self: flex-start;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }

        @include abstracts.screen(md) {
            flex-direction: column;

            &-right {
                margin-top: 16px;
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
        max-width: 374px;
    }

    &__price-wrap {
        margin: 16px 0;
        color: #9E9DA8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
    }

    &__status {
        color: #67B044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
        min-height: 44px;

        @include abstracts.screen(sm) {
            gap: 14px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            gap: 30px;

            @include abstracts.screen(lg) {
                flex-direction: column;
                align-items: flex-start;
            }

            @include abstracts.screen(md) {
                gap: 16px;
            }
        }

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 44px;
        padding: 0 22px;

        border-radius: 10px;
        border: 1px solid #D2D1D6;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.4545; /* 145.455% */
        text-align: right;

        @include abstracts.screen(md) {
            margin-bottom: 16px;
            text-align: left;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        color: #9E9DA8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */

        &:first-child {
            margin-right: 10px;
        }
    }

    &__checkout-btn {
        margin-top: auto;

        @include abstracts.screen(md) {
            max-width: 200px;
        }
    }
    
}

.gift-item {
    display: flex;
    gap: 20px;

    &__icon-wrap {
        width: 76px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        border-radius: 14px;
        background: rgba($color: #7644E1, $alpha: 0.1);
        box-shadow: 0 20px 60px 10px var(--checkout-gift-shadow);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 1.42857; /* 142.857% */
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 1.466667; /* 146.667% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
}

.address-card {
    display: flex;
    margin-top: 30px;
    
    @include abstracts.screen(lg) {
        gap: 20px;
    }

    @include abstracts.screen(md) {
        flex-direction: column;
        gap: 16px;
    }

    &__left {
        flex: 1;
        display: flex;
    }

    &__info {
        margin-left: 35px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 1.46667; /* 146.667% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 1.42857;
        }
    }

    &__list {
        margin-top: 20px;
        display: flex;
        list-style: disc inside;
        gap: 30px;

        font-size: 1.4rem;
        line-height: 1.42857; /* 142.857% */

        &-item {
            margin-left: 8px;
        }
    }

    &__ctrl {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}

.form-checkbox {
    position: relative;
    display: flex;
    user-select: none;

    &::before, &::after {
        position: absolute;
        content: "";
        top: 5px;
    }

    &::before {
        width: 19px;
        height: 19px;
        border-radius: 5px;
        border: 1px solid #1A162E;
    }
}

.form-checkbox:has(:checked) {
    &::before {
        border-color: #67B044;
        background: #67B044;
    }

    &::after {
        width: 11px;
        height: 7px;
        border: 3px solid;
        border-color: transparent transparent #fff #fff;
        rotate: -45deg;
        left: 4px;
        top: 9px;
    }
}

.payment-item {
    display: flex;
    align-items: center;

    margin-top: 30px;
    padding: 20px;

    border-radius: 20px;
    background: var(--checkout-payment-item-bg);

    cursor: pointer;

    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__info {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
    }

    &__desc, &__detail {
        font-size: 1.5rem;
        line-height: 1.46666; /* 146.667% */
    }

    &__desc {
        margin-top: 4px;
    }

    &__detail {
        margin-right: -8px;
        color: #0071dc;
        text-decoration: underline;
        padding: 8px;
    }

    &__thumb {
        width: 70px;
        height: 54px;
        border-radius: 10px;
        object-fit: contain;
        margin-right: 20px;
    }

    &__cost-wrap {
        position: relative;
        display: flex;
        align-items: center;
        
        user-select: none; 
        cursor: pointer;

        &::before, &::after {
            position: absolute;
            content: "";
        }

        &::before {
            top: 4px;
            right: 0;
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1px solid #9E9DA8;
        }
    }

    &__cost-wrap:has(:checked) {
        &::before {
            border-color: #67B044;
            background: #67B044;
        }

        &::after {
            width: 11px;
            height: 7px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            right: 4px;
            top: 8px;
        }
    }

    &__cost {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */
        color: #9E9DA8;
        margin-right: 32px;
    }

    &__checkbox {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        @include abstracts.screen(sm) {
            align-items: flex-start;
        }
    }

    

    &__input:checked + &__cost {
        color: inherit;
    }
}