@use "../abstracts";

.checkout-page {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: #fff;
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 2rem;
    background: #fff;
    box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.20);

    &__list {
        margin-top: -30px;
    }
}

.cart-item {
    display: flex;
    gap: 30px;
    padding: 30px 0;

    border-bottom: 1px solid #D2D1D6;

    &__thumb {
        width: 175px;
        height: 172px;
        object-fit: contain;
        gap: 30px;
    }

    &__content {
        flex: 1;
        display: flex;
        align-self: flex-start;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
        max-width: 374px;
    }

    &__price-wrap {
        margin: 16px 0;
        color: #9E9DA8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
    }

    &__status {
        color: #67B044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
        min-height: 44px;
    }

    &__input {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 44px;
        padding: 0 22px;

        border-radius: 10px;
        border: 1px solid #D2D1D6;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.4545; /* 145.455% */
        text-align: right;
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        color: #9E9DA8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */

        &:first-child {
            margin-right: 10px;
        }
    }
}