@use "../abstracts";

.profile {
    margin-bottom: 50px;

    &-container {
        margin-top: 30px;
    }

    &__sidebar {
        padding-bottom: 30px;
        border-radius: 20px;
        background: var(--profile-sidebar-bg);
        box-shadow: 0 20px 60px 10px var(--profile-sidebar-shadow);
        overflow: hidden;
    }

    // User
    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 20px 20px;
        color: #fff;
        background: linear-gradient(180deg, rgba(26, 22, 46, 0.00) 0%, #1A162E 100%), url("../img/profile/cover.jpg") no-repeat center / cover;

        &__avatar {
            height: 121px;
            width: 121px;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.20);
            box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
            background: #ccc content-box;
        }

        &__name {
            margin-top: 15px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.444444; /* 144.444% */
        }

        &__desc {
            margin-top: 2px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.466667; /* 146.667% */
        }
    }

    // Menu
    &-menu {
        margin-top: 30px;
        padding: 0 30px;

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44444; /* 144.444% */
        }

        &__list {
            margin-top: 11px;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 32px;
            padding: 0 4px;

            font-size: 1.5rem;
            line-height: 1.466666; /* 146.667% */
            transition: background-color 0.2s;

            &:hover {
                background: #ebebeb;
                border-radius: 5px;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 100%;
        }
    }

    &-info {
        padding: 30px;
        border-radius: 20px;
        background: var(--profile-info-bg);
        box-shadow: 0 20px 60px 10px var(--profile-info-shadow);

        &__title {
            display: flex;
            align-items: center;

            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.416667; /* 141.667% */
        }

        &__desc {
            margin: 4px 0 16px;
            font-size: 1.5rem;
            line-height: 1.466667; /* 146.667% */
        }

        &__back-arrow {
            width: 50px;
            padding-right: 20px;
            position: relative;
            top: 5px;
        }
    }

    &-product {
        display: flex;
        gap: 20px;

        @include abstracts.screen(lg) {
            align-items: center;
        }

        &__thumb {
            width: 110px;
            display: block;

            @include abstracts.screen(lg) {
                width: 80px;
            }
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46667; /* 146.667% */

            @include abstracts.screen(md) {
                font-size: 1.4rem;
                line-height: 1.42857;
            }
        }

        &__bottom {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include abstracts.screen(sm) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }

        &__price {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.45455; /* 145.455% */

            @include abstracts.screen(md) {
                font-size: 1.8rem;
                line-height: 1.44444;
            }
        }

        &__btn {
            @include abstracts.screen(md) {
                height: 40px;
                font-size: 1.4rem;
            }
        }
    }

    &-separate {
        height: 1px;
        background-color: var(--profile-separate-bg);
        margin: 20px 0;

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }
}