.product-page {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    background: var(--product-detail-bg);
}

.product-container {
    margin-top: 30px;
}

.prod-review {
    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-top: 92%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__thumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 30px;
    }

    &__thumb-img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 1.5px solid rgba(158, 157, 168, 0.3);
        border-radius: 8px;
        cursor: pointer;
        opacity: 0.9;
        transition: opacity, border-color;
        transition-duration: 0.3s;

        &:hover {
            opacity: 1;
            border-color: #9e9da8;
        }

        &--current {
            opacity: 1;
            border-color: #ffb700;
        }
    }
}

.prod-info {
    padding: 60px;
    background: #F6F6F6;

    &__heading {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.38462; /* 138.462% */
    }

    &__tag {
        background: #EDEDF6;
    }

    &__label {
        margin-top: 30px;
    }

    &__card {
        margin-top: 30px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #B9BABE;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
    }

    &__tax {
        padding: 2px 8px;
        margin-left: 10px;
        background:  linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #67B044;

        color: var(--Green-Green, #67B044);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42857; /* 142.857% */
    }

    &__total-price {
        margin: 20px 0;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.38462; /* 138.462% */
    }

    &__add-to-card {
        flex: 1;
    }

    &__like-btn {
        margin-left: 20px;
        height: 46px;
        width: 46px;

        border-radius: 0.6rem;
        border: 1px solid #D2D1D6;
        background: transparent;
    }
}

.prod-props {
    padding-left: 30px;
}

.prod-prop {
    display: flex;
    gap: 16px;
    margin-top: 30px;

    &__icon {
        align-self: flex-start;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        line-height: 1.42857; /* 142.857% */
    }
}