html.dark{
    --text-color: #FFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(104%) contrast(106%);

    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-action-group-bg-color: #292E39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.20);
    --top-action-group-separate: #EDEDF6;
}