@use "../abstracts";

html.darkk{
    --text-color: #FFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(104%) contrast(106%);

    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-action-group-bg-color: #292E39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.20);
    --top-action-group-separate: #EDEDF6;

    // Dropdown
    --dropdown-bg-color: #2F3441;
    --dropdown-shadow-color: 0 40px 90px 20px rgba(23, 28, 40, 0.40);

    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(19%) saturate(559%) hue-rotate(186deg) brightness(92%) contrast(95%);
    --top-menu-border-color: #171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(80%) sepia(1%) saturate(4800%) hue-rotate(202deg) brightness(125%) contrast(97%);

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: 0 20px 60px 10px rgba(0, 0, 0, 0.20);
    }

}