@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-group-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.20);
    --top-action-group-separate: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20)
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg: #fff;
    --sdiebar-shadow: rgba(200, 200, 200, 0.40);
    
}