@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);

    --body-bg: #f6f6f6;
    --header-footer-bg-color: #eee;
    --top-action-group-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.20);
    --top-action-group-separate: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20)
    }

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.40);
    --header-act-dropdown-border-color: #D2D1D6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg: #fff;
    --sdiebar-shadow: rgba(200, 200, 200, 0.40);

    // Cate item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Filter button
    --filter-btn-color: #6C6C72;
    --filter-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);

    // Product Card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);

    //Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --form-tag-bg: #F8F8FB;

    // Auth
    --auth-content-bg: #fff;

    // Form
    --form-placeholder-color: #D2D1D6;
    --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15); 
    --form-select-dialog-bg: #fff;
    --form-option-hover-bg: #ebebeb;

    // Product detail
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-info-content-bg: #fff;
    --product-detail-tag-bg: #EDEDF6;

    @include abstracts.screen(md) {
        --product-detail-bg: #FAFAFD;
        --product-detail-info-bg: #fff;
    }

    //Breadcrumbs
    --breadcrumbs-bg: #F6F6F6;
    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);

    //Search bar
    --search-bar-bg: #fff;

    // Review card
    --review-card-bg: #FAFAFD;

    @include abstracts.screen(md) {
        --review-card-bg: #FFF;
    }

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.20);
    --checkout-border-color: #D2D1D6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.20);
    --checkout-payment-item-bg: #F6F6F6;
    
    // Dialog
    --dialog-bg: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.20);

    // Profile
    --profile-sidebar-bg: #fff;
    --profile-sidebar-shadow: rgba(237, 237, 246, 0.20);
    --profile-info-bg: #fff;
    --profile-info-shadow: rgba(237, 237, 246, 0.20);
    --profile-separate-bg: #D2D1D6;

    // Account info
    --account-info-bg: #F6F6F6;
    --account-info-icon-bg: #fff;
}