@use "../abstracts"; 

.footer {
    padding-top: 60px;
    background: var(--header-footer-bg-color);

    &__inner {
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            flex-direction: column;
        }
    }

    &__logo {
        margin-left: 0 !important;
    }

    &__introduce {
        width: 30%;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__desc {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 1.5;
        width: 90%;

        @include abstracts.screen(lg) {
            width: 100%;
        }

        @include abstracts.screen(xl) {
            width: 100%;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 96px;

        @include abstracts.screen(xxl) {
            column-gap: 70px;
        }

        @include abstracts.screen(xl) {
            column-gap: 30px;
        }

        @include abstracts.screen(lg) {
            margin-top: 40px;
        }

        @include abstracts.screen(md) {
            margin-top: 16px;
            grid-template-columns: 1fr 1fr;
        }

        @include abstracts.screen(sm) {
            margin-top: 16px;
            grid-template-columns: 1fr;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 20px;

        @include abstracts.screen(md) {
            margin-top: 24px;
        }
    }

    &__item {
        display: block;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__item + &__item {
        margin-top: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        margin-left: -6px;

        @include abstracts.screen(lg) {
            margin-left: -10px;
        }

        &-item {
            padding: 8px 6px;

            @include abstracts.screen(lg) {
                padding: 8px 10px;
            }
        }
    }

    &__copyright {
        text-align: center;
        border-top: 1px solid #D2D1D6;
        margin-top: 90px;
        padding: 30px;

        span {
            font-weight: 600;
        }
    }

    @include abstracts.screen(sm) {
        &__list + &__list {
            margin-top: 24px;
        }

        &__item + &__item {
            margin-top: 14px;
        }
    }
}

