@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 23px 0;
    }

    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
        padding: 16px 0;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }

    }

    .icon {
        filter: var(--icon-color);
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemCenter;
        gap: 30px;
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4666; /* 146.667% */
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-action {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;
        border-radius: 0.8rem;
        background: var(--top-action-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-action-group-shadow);
        min-width: 50px;
        height: 50px;

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        padding: 13px 20px;
        @extend %flexItemCenter;
        cursor: pointer;
    }

    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46666; /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: #EDEDF6;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        display: block;
        cursor: pointer;
    }
}