@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-footer-bg-color);

    @include abstracts.screen(lg) {
        box-shadow: 0 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;
    padding: 30px 0;
    z-index: 1;

    @include abstracts.screen(lg) {
        padding: 23px 0;
    }

    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0;
    }

    .icon {
        filter: var(--icon-color);
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 28px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        background: var(--sidebar-bg);
        margin-left: 0;
        border-radius: 0 20px 20px 0;
        z-index: 9;
        padding: 20px 0;

        translate: -100%;
        transition: translate 0.5s;   

        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sdiebar-shadow);
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px 10px;

        }

    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            background: rgba($color: #000000, $alpha: 0.4);
            z-index: 8;

            transition: opacity, visibility;
            transition-duration: 0.5s;
        }
    }

    &__list {
        @extend %flexItemCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }

        @include abstracts.screen(sm) {
            height: calc(100% - 124px);
        }
    }

    &__item {

        &:hover .dropdown{
            display: block;
        }

        @include abstracts.screen(lg) {
            &:hover .dropdown{
                display: none;
            }

            &--active .dropdown{
                display: block !important;
            }

            width: 100%;
        }
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4666; /* 146.667% */

        @include abstracts.screen(lg) {
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 1.5; /* 150% */
            justify-content: space-between;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }

    &__arrow {
        margin-top: 3px;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }

    
}

.navbar-btn {
    height: 50px;
    padding: 0 40px;
    align-items: center;
    
    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.466666; /* 146.667% */
    }

    &__title {
        margin-left: 16px;
    }


    &__qnt {
        margin-left: auto;
    }

    @include abstracts.screen(sm) {
        padding: 0 20px;
        height: 44px;
    }
}

.top-action {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;
        border-radius: 0.8rem;
        background: var(--top-action-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-action-group-shadow);
        min-width: 50px;
        height: 50px;
    }

    &__group--single {
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        padding: 13px 20px;
        @extend %flexItemCenter;
        cursor: pointer;
    }

    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46666; /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: #EDEDF6;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        display: block;
        cursor: pointer;
    }
}