// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 14px;
    border-radius: 6px;
    padding: 0 14px;

    background: var(--filter-btn-bg);
    color: var(--filter-btn-color);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.42857; /* 142.857% */
}

// Like button
.like-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.20);

    &:not(&--liked) &__icon--liked{
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 8px;
    }
}

// Buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 46px;
    padding: 0 20px;
    border-radius: 6px;

    background: #F8F8FB;

    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;
    white-space: nowrap;

    &--small {
        height: 40px;
        padding: 0 16px;
    }

    + .btn  {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--text {
        background: transparent;
        font-weight: 400;
    }

    &--primary {
        color: #171C28;
        background: #FFB700;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid #d2d1d6; 
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}