@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    display: none;

    @include abstracts.breakpoint(lg) {
        position: initial;

        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 2rem;
        background: var(--dropdown-bg-color);
        box-shadow: var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.breakpoint(lg) {
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            padding: 0 40px;

            &::before {
            content: none;
            }
        }

        @include abstracts.breakpoint(lg) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-height-inner: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);

    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-height-inner);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: var(--inner-padding);
    }

    @include abstracts.breakpoint(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        height: 36px;
        width: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    
    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 24px;
        width: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */

        @include abstracts.breakpoint(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 15px;

        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }
    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071DC;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.42857; /* 142.857% */
    }

    &__link-last {
        padding-bottom: 0;
    }
}

.sub-menu {
    position: absolute;

    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);
    padding-left: var(--inner-padding);
    inset: 0 0 0 var(--main-column-width);
    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    &--not-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: initial;
        inset: initial;
        padding-left: 0;
        height: var(--max-height-inner);

        @include abstracts.breakpoint(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}