@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 56px;
    background-color: var(--filter-form-bg);
    box-shadow: 0 40px 90px var(--filter-form-shadow);
    border-radius: 20px;
    padding: 30px 0;
    transition: opacity, visibility;
    transition-duration: 0.3s;

    @include abstracts.screen(sm) {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    &__arrow {
        position: absolute;
        top: -17px;
        right: 24px;
        height: 20.5px;
        filter: var(--filter-form-arrow);
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4545; /* 145.455% */
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.4545; /* 145.455% */

            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.42857; /* 142.857% */
            }
        }

        &-group {
            margin-top: 20px;

            &--horizontal {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #D2D1D6;

            &::before, &::after {
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                content: "";
                height: 22px;
                width: 22px;
                border: 6px solid #FFB700;
                border-radius: 50%;
                background-color: var(--filter-form-bg);

            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input, &-select-wrap {
            border-radius: 6px;
            border: 1px solid #D2D1D6;
        }

        &-text-input {
            display: flex;
            align-items: center;
            overflow: hidden;
            padding: 0 16px;

            width: 334px;
            height: 44px;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;

                @include abstracts.screen(xl) {
                width: 100%;
            }
            }

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
        }

        &-input {
            width: 100%;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.4666666; 

            &::placeholder {
                font-weight: 400;
                color: #9d9ea8;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }

        &-input-icon {
            margin-left: 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 14px;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            cursor: pointer;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42857; /* 142.857% */

            @include abstracts.screen(xl) {
                flex: 1;
            }
        }

        &-select + &-select {
            border-left: 1px solid #D2D1D6;
        }

        &-tags {
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap;

            @include abstracts.screen(sm) {
                gap: 10px;
            }
        }

        &-tag {
            color: #9E9DA8;
            border-radius: 0.6rem;
            background: var(--filter-form-tag-bg);
            padding: 6px 12px;
            transition: color 0.2s;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42857; /* 142.857% */

            &:hover {
                color: var(--text-color)
            }
        }
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;

        @include abstracts.screen(xl) {
            flex: 0 0 auto;
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }
    }

    &__footer {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;

        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 0;
            background-color: var(--filter-form-bg);
        }
    }

    &__cancel, &__submit {
        height: 38px;
        padding: 0 10px;

        @include abstracts.screen(sm) {
            height: 42px;
            flex: 1;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }

    &__heading, &__footer, &__content {
        padding: 0 30px;
    }

    &__content {
        max-height: calc(100vh - 350px);
        overflow-y: auto;
        overscroll-behavior: contain;
        
        
        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            max-height: calc(100vh - 190px);
            padding-bottom: 10px;
        }
    }
}