.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: var(--filter-form-bg);
    box-shadow: 0 40px 90px var(--filter-form-shadow);
    border-radius: 20px;
    padding: 30px;

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4545; /* 145.455% */
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.4545; /* 145.455% */

            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.42857; /* 142.857% */
            }
        }

        &-group {
            margin-top: 20px;

            &--horizontal {
                display: flex;
                align-items: center;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #D2D1D6;

            &::before, &::after {
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                content: "";
                height: 22px;
                width: 22px;
                border: 6px solid #FFB700;
                border-radius: 50%;
                background-color: var(--filter-form-bg);

            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-input {
            width: 121px;
            height: 36px;
            padding: 0 12px;
            border-radius: 6px;
            border: 1px solid #D2D1D6;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42857; /* 142.857% */
        }
    }

    &__row {
        display: flex;
        flex: 1;
    }
}