@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error, .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        height: 50px;
        padding: 0 12px;
        border: 1.5px solid #D2D1D6;

        &:focus-within {
            border-color: #77DAE6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444; /* 144.444% */

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon, &-icon-error {
            margin-left: 12px;
        }

        &-icon-error {
            display: none;
            width: 24px;
            animation: shake 0.5s;
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__error {
        margin-top: 10px;
        color: $error-color;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;
        display: none;

    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.4666666; /* 146.667% */

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before, &::after {
            position: absolute;
            content: "";
            
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9E9DA8;
        }

        
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #FFB700;
            background: #FFB700;
        }

        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 5px;
        }
    }
}