.massage {
    width: 100%;
    padding: 14px;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;

    &--success {
        background: rgba(9, 200, 83, 0.5);
    }
}