.review-card {
    padding: 30px;
    border-radius: 1.6rem;
    background: var(--review-card-bg);

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__title {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4545; /* 145.455% */
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.5; /* 150% */
    }

    &__avatar {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__rating {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 8px;

        &-title {
            margin-left: 12px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.444444; /* 144.444% */
        }
    }
}