.search-bar {
    height: 50px;
    align-items: center;
    border-radius: 20px;
    background: var(--search-bar-bg);

    &__input {
        flex: 1;
        padding-left: 15px;
        height: 100%;

        font-size: 1.6rem;
        line-height: 1.42857; /* 142.857% */
        font-weight: 500;

        &::placeholder {
            color: #9E9DA8;
            font-weight: 400;
        }
    }

    &__submit {
        height: 100%;
        padding: 0 15px;
    }
}