*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

a,
img,
button,
textarea,
select {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}