*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}