@use "sass:math";

/* Grid system */
// Break-points, dimensions, col, row, ....
$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px
);

$container-max-widths: (
    sm: 100%,
    md: 540px,
    lg: 720px,
    xl: 960px,
    xxl: 1140px
);

$gutters: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

$grid-column: 12;
$grid-gutter-width: 30px !default;

%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;

    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

.container {
    @extend .container-fluid;

    width: 1370px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--grid-gutter-y) * -1);

    margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);

    > * {
        @extend %gutter-padding;
        margin-top: var(--grid-gutter-y);
    }
}

.col {
    flex: 1 0;
}

@mixin make-media-query($deminsion) {
    @media (max-width: ($deminsion - 0.02)) {
        @content;
    }
}

@mixin make-row-colums($infix: null) {
    @for $i from 1 through $grid-column * 0.5 {
        .row-cols#{$infix}-#{$i} > * {
            flex: 0 0 auto;
            width: math.div(100%, $i);
        }
    }
}

@mixin make-columns($infix: null) {
    @for $i from 1 through $grid-column {
        .col#{$infix}-#{$i} {
            flex: 0 0 auto;
            width: math.div(100%, $grid-column) * $i;
        }
    }
}

@mixin make-offset($infix: null) {
    @for $i from 0 to $grid-column {
        .offset#{$infix}-#{$i} {
            margin-left: if($i > 0, math.div(100%, $grid-column) * $i, 0);
        }
    }
}

@mixin make-gutters($infix: null) {
    @each $i, $ratio in $gutters {
        .g#{$infix}-#{$i} {
            --grid-gutter-x: #{$grid-gutter-width * $ratio}; 
            --grid-gutter-y: #{$grid-gutter-width * $ratio}; 
        }

        .gx#{$infix}-#{$i} {
            --grid-gutter-x: #{$grid-gutter-width * $ratio};
        }

        .gy#{$infix}-#{$i} {
            --grid-gutter-y: #{$grid-gutter-width * $ratio}; 
        }

        
    } 
}

@include make-row-colums();

@include make-columns();

@include make-offset();

@include make-gutters();

@each $breakpoint, $deminsion in $grid-breakpoints {
    $max-width: map-get($container-max-widths, $breakpoint);
    $infix: "-#{$breakpoint}";

    @include make-media-query($deminsion) {
        .container {
            max-width: $max-width;
        }

        @include make-row-colums($infix);

        @include make-columns($infix);

        @include make-offset($infix);

        @include make-gutters($infix);

        
    }
}