<div class="container">
    <div class="footer__inner">
        <div class="footer__introduce">
            <!-- logo -->
            <div class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="Grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </div>

            <p class="footer__desc">With a relentless focus on innovation and creativity, we're dedicated to empowering entrepreneurs, dreamers, and visionaries to bring their ideas to life.</p>
        </div>

        <section class="footer__content">
            <div class="footer__list">
                <h3 class="footer__title">Product</h3>
                <a href="#!" class="footer__item">Features</a>
                <a href="#!" class="footer__item">Agency</a>
                <a href="#!" class="footer__item">Case Studies</a>
                <a href="#!" class="footer__item">Reviews</a>
            </div>

            <div class="footer__list">
                <h3 class="footer__title">Company</h3>
                <a href="#!" class="footer__item">About</a>
                <a href="#!" class="footer__item">Contact Us</a>
                <a href="#!" class="footer__item">Careers</a>
                <a href="#!" class="footer__item">Case Studies</a>
                <a href="#!" class="footer__item">Blog</a>
            </div>

            <div class="footer__list">
                <h3 class="footer__title">Support</h3>
                <a href="#!" class="footer__item">Shop</a>
                <a href="#!" class="footer__item">Help Center</a>
                <a href="#!" class="footer__item">Server Status</a>
                <a href="#!" class="footer__item">Portfolio</a>
                <a href="#!" class="footer__item">Chat Support</a>
            </div>

            <div class="footer__list">
                <h3 class="footer__title">Support</h3>
                
                <div class="footer__link">
                    <a href="#!" class="footer__link-item">
                        <i class="fa-brands fa-twitter icon"></i>
                    </a>

                    <a href="#!" class="footer__link-item">
                        <i class="fa-brands fa-facebook icon"></i>
                    </a>

                    <a href="#!" class="footer__link-item">
                        <i class="fa-brands fa-youtube icon"></i>
                    </a>

                    <a href="#!" class="footer__link-item">
                        <i class="fa-brands fa-instagram icon"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <p class="footer__copyright">© Copyright by <span>Grocerymart</span></p>
</div>